<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#F0F8FF">

	<div id="contenu">

		<h1>Cable constraint</h1>
		
		<p>In this scene we demonstrate how to use the <FONT COLOR="#0B2161">CableConstraint</FONT> component to model an inelastic 
		   1d cable. This cable is then connected to a mechanical object made of an elastic material. You can either control the force (left) applyed by the cable
		   or its displacement (right).
		<br>
		<center><img src="images/DisplacementVsForceControl.png" /></center>
               
	</div>

</body>

</html>
