<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#F0F8FF">

	<div id="contenu">

		<h1>Cable controlled by keyboard</h1>
		
		<p>In this scene we demonstrate how to use the <FONT COLOR="#0B2161">CableConstraint</FONT> component to model an inelastic 
		   1d cable. This cable is then connected to a mechanical object made of an elastic material. A script is used to pull/release
		   the cable which in return deforms the elastic object.  
		<br>
		<center><img src="images/Finger_2_direct.png" /></center>
               
                <h2>How to use the demo</h2>
		<p>After clicking on "Animate" you can click in the 3d view then pulling/releasing the cable by pressing CTRL+/CTLR-.</p>
		
		<p>In this scene we are also using the <FONT COLOR="#0B2161">PythonScriptController</font> component.</p>
	</div>

</body>

</html>
