<html>


<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#A4A4A4">

	<div id="contenu">
	
		<p><i>NB: If the computation is slow, it might be because you did not add sparse and metis to sofa configuration.</i></p>	

		<h1> Surface Pressure Constraint on cavity </h1>
		
		<p>The scene simulate a pressure on a cavity in the bunny body.</p> 
		<p>It uses the <FONT COLOR="#0B2161">SurfacePressureConstraint</font> component, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/SurfacePressureConstraint_1.png"/></center>
		<p>
		Further descriptions of the component can be found at:
		<FONT COLOR="#0B2160">https://project.inria.fr/softrobot/documentation</font>
		</p>
	</div>

</body>

</html>
